@model IEnumerable<DepozytOpon.Models.Depozyt>

<h2>Lista depozytów</h2>

<a class="btn btn-primary mb-3" href="/Depozyt/Dodaj">Dodaj depozyt</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Numer depozytu</th>
            <th>Numer BOX</th>
            <th>Kod QR</th>
            <th>Imię i nazwisko</th>
            <th>Telefon</th>
            <th>Marka Pojazdu</th>
            <th>Rejestracja</th>
            <th>KodOpony</th>
            <th>Ilość</th>
            <th>Data przyjęcia</th>
            <th>Notatka</th>
            <th>Akcje</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.NumerBOX</td>

                <td class="text-center">
                    <img src="@Url.Action("GenerujQR", "Depozyt", new { id = d.Id })"
                         alt="QR Code"
                         style="width: 80px; height: 80px;" />
                </td>

                <td>@d.ImieNazwisko</td>
                <td>@d.NumerTelefonu</td>
                <td>@d.MarkaPojazdu</td>
                <td>@d.RejestracjaPojazdu</td>
                <td>@d.OponaId</td>
                <td>@d.Ilosc</td>
                <td>@d.DataPrzyjecia.ToShortDateString()</td>
                <td>@d.Notatka</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Depozyt/Edytuj/@d.Id">Edytuj</a>
                    <a class="btn btn-danger btn-sm" href="/Depozyt/Usun/@d.Id">Usuń</a>

                </td>
            </tr>
        }
    </tbody>
</table>
